<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage.length > 0) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing){ %>edit-product <%} else {%>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : ''%>"
                    type="text"
                    name="title"
                    id="title"
                    <% if (editing || hasError) { %>value="<%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'image') ? 'invalid' : ''%>"
                    type="file"
                    name="image"
                    id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : ''%>"
                    type="number"
                    name="price"
                    id="price"
                    step="0.01"
                    <% if (editing || hasError) { %>value="<%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : ''%>"
                    name="description"
                    id="description"
                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) {%>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <%}%>

            <button class="btn" type="submit"><%if (editing){ %>Update Product<% } else {%>Add Product<%}%></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>